@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


:root {
    --background-color: #010C15;
    --foreground-color: #011627;
    --font-family: 'Fira Code';
    --headline-text-size: 61px;
    --subheadline-text-size: 31px;
    --body-text-size: 17px;
    --lables-text-size: 15px;
    --code-snippets-text-size: 13px;

    --primary-color1: #01080E;
    --primary-color2: #011627;
    --primary-color3: #011221;

    --secondary-color1: #607B96;
    --secondary-color2: #3C9D93;
    --secondary-color3: #4D5BCE;
    --secondary-color4: #FFFFFF;

    --accent-color1: #FEA55F;
    --accent-color2: #43D9AD;
    --accent-color3: #E99287;
    --accent-color4: #C98BDF;

    --lines-color: #1E2D3D;
    --gradients-color1: #4D5BCE;
    --gradients-color2: #43D9AD;

    --foreground-width-size: 1782px;
    --foreground-height-size: 941.32px;

}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

font{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

/**:not(.header, .content1, .title, .nav-link, .footer, .footer-links, .footer-content1, .footer-content2, .footer > div > p, .foreground ) {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-color: var(--background-color);
    height: inherit;
    width: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: var(--foreground-width-size);
    height: var(--foreground-height-size);

    margin: 69px;
    background-color: var(--foreground-color);
    border-radius: 8px;
    border: 1px solid var(--lines-color);
}

.header, .footer {
    height: 56px;
    border-bottom: 1px solid #1E2D3D;
    color: var(--secondary-color1);

    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.bordered {
    border: 1px dashed red;
}

.content1 {
    display: flex;
}

.content1 > .nav-link, .nav-link, .footer-content1 > svg, .footer-content2 > p {
    border-left: 1px solid var(--lines-color);
}

.content1 > .nav-link:nth-child(4), .footer-links:nth-child(3) {
    border-right: 1px solid var(--lines-color);
}

.nav-link {
    color: var(--secondary-color1);
    width: 150px;
    height: 55px;
    font-weight: 500;
}

.content1 > .nav-link:nth-child(2) {
    width: 121px;
}

.header > .content1 > .title {
    font-size: var(--lables-text-size);
    color: var(--secondary-color1);

    font-weight: 450;
    width: 311px;
    height: 56px;

    padding: 17px 0 0 22px;
}

.active {
    color: var(--secondary-color4);
    border-bottom: 3px solid var(--accent-color1);
}
/* end of the header */

.content {
    display: flex;
    flex-direction: row;
    height: 75vh;
}

.toolbar .icon {
    padding: 17px 20px;
}

/*.content {*/
/*    !*position: absolute;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    height: 75vh;*/
/*}*/

.toolbar {
    width: 68px;
    /*border: 1px solid black;*/
    height: inherit;
}

.sidebar {
    /*border: 1px solid black;*/
    width: 248px;
    height: inherit;
}

/* footer */
.footer {
    height: 50px;
    border-top: 1px solid var(--lines-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content1 > p {
    padding: 0 16px 0 22px ;
}

.footer-content1, .footer-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--lables-text-size);
    font-weight: 400;
}

.footer-content1 > p.  {
    padding: 15px 8px 15px 22px;
}

.footer-content2 > p {
    padding: 15px 0 15px 23px;
}

.footer-links {
    padding: 13px 15px;
    width: 52px;
    height: 49px;

    /*border: 1px solid var(--lines-color);*/
}

.icons {
    width: 24px;
    height: 24px;
    color: var(--secondary-color1);
}



