@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin 3s linear infinite;

  }
    .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Fira Code';
  /*line-height: 1.5;*/
  /*font-weight: 400;*/


  /*font-synthesis: none;*/
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
  background-color: #010C15;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


