/* end of the header */

.content {
    flex-direction: row;
}

.toolbar-container {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar {
    width: 68px;
    border-right: 1px solid var(--lines-color);
    /*border: 1px solid black;*/
    height: inherit;
}

/* sidebar */

.sidebar {
    /*border: 1px solid black;*/
    width: 244px;
    height: 837px;

    border-right: 1px solid var(--lines-color);
}

.info {
    height: 228px;
}

.info-head, .contacts-head {
    height: 43px;

    display: flex;
    align-items: center;
    padding-left: 14px;
    gap: 11px;
}

.info-body {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-child:nth-child(1), .info-child:nth-child(2), .info-child:nth-child(3) {
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.info-body > .info-child:nth-child(3) {
    padding-left: 12px;
}

.info-body > .info-child:nth-child(4), .info-body > .info-child:nth-child(5) {
    margin-left: 38px;
    display: flex;
    align-items: center;
    /*background-color: red;*/
    gap: 8px;
}

.info-child:nth-child(1) > svg:nth-child(1),
.info-child:nth-child(2) > svg:nth-child(1),
.info-child:nth-child(3) > svg:nth-child(1)

{
    margin-right: 13px;
    /*background-color: red;*/
}

.info-child > svg:nth-child(2) {
    margin-right: 8px;
}

.contacts {
    height: 609px;
    border-top: 1px solid var(--lines-color)
}

.contacts-head {
    border-bottom: 1px solid var(--lines-color)
}

.info-head {
    border-bottom: 1px solid var(--lines-color)
}

.contacts-body {
    height: 567px;
}

/* tab1 */
.tab {
    width: 218px;
    height: 42px;
}

.editor-tab {
    width: 698px;
    height: 794px;

    display: flex;
    flex-direction: row;

}

.editor-body {
    width: 672px;
    height: 100%;
}

.editor-scroll {
    width: 26px;
    height: 100%;
}


