
/* end of the header */

.content {
    flex-direction: row;
}


.toolbar-container {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.content {*/
/*    !*position: absolute;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    height: 75vh;*/
/*}*/

.toolbar {
    width: 68px;
    border-right: 1px solid var(--lines-color);
    /*border: 1px solid black;*/
    height: inherit;
}

.sidebar {
    /*border: 1px solid black;*/
    width: 243px;
    height: 837px;
}

.info {
    height: 228px;
}

.info-head, .contacts-head {
    height: 43px;

    display: flex;
    align-items: center;
    padding-left: 14px;
    gap: 11px;
}

.contacts {
    height: 609px;
}

.contacts-body {
    height: 567px;
}






