/* footer */
.footer {
    height: 50px;
    border-top: 1px solid var(--lines-color);
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color1);
}

.footer-content1 {
    display: flex;
}

.footer-content1 > p {
    width: 146px;
    font-size: var(--lables-text-size);
    font-weight: 500;
    height: inherit;
    padding: 15px 0 0 22px;

    border-right: 2px solid var(--lines-color);
}

.footer-content2 {
    display: flex;
    width: 270px;
    height: inherit;
    padding: 0 22px 0 0;
    gap: 9px;
}

.footer-content2 > p {
    font-size: var(--lables-text-size);
    font-weight: 500;
    height: inherit;
    padding: 14px 0 0 23px;
}

.footer-content2 > .icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.icon-container {
    width: 52px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 2px solid var(--lines-color)
}


.footer-icon {
    width: 24px;
    height: 24px;
}

