.header {
    height: 56px;
    border-bottom: 1px solid #1E2D3D;
    color: var(--secondary-color1);

    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.content1 {
    display: flex;
}

.content1 > .nav-link, .nav-link, .footer-content1 > svg, .footer-content2 > p {
    border-left: 1px solid var(--lines-color);
}

.content1 > .nav-link:nth-child(4), .footer-links:nth-child(3) {
    border-right: 1px solid var(--lines-color);
}

.nav-link {
    color: var(--secondary-color1);
    width: 150px;
    height: 55px;
    font-weight: 500;

    text-decoration: none;
}

.content1 > .nav-link:nth-child(2) {
    width: 121px;
}

.header > .content1 > .title {
    font-size: var(--lables-text-size);
    color: var(--secondary-color1);

    font-weight: 450;
    width: 311px;
    height: 56px;

    padding: 17px 0 0 22px;
}

.active {
    color: var(--secondary-color4);
    border-bottom: 3px solid var(--accent-color1);
}