@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply bg-background
    }

    #root {
        @apply relative h-screen w-screen p-4 flex justify-center items-center;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    .animate-spin-slow {
        animation: spin 3s linear infinite;

    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    /* colors */
    :root {
        /* primary colors */
        --primary-black: #01080E;
        --primary-blue: #011627;
        --primary-dark-blue: #011221;

        /* secondary colors  */
        --secondary-blue: #607B96;
        --secondary-blue-hover: #8195A9;
        --secondary-blue-green: #3C9D93;
        --secondary-blue-violet: #4D5BCE;
        --secondary-white: #E5E9F0;

        /* accent colors */
        --accent-orange: #FEA55F;
        --accent-green: #43D9AD;
        --accent-red: #E99287;
        --accent-pink: #C98BDF;

        --lines: #1E2D3D;
        --gradient-blue: #4D5BCE;
        --gradient-green: #43D9AD;

        --background-color: #010C15;

        /* typography */
        --headline-xl: 62px;
        --subheadline-xl: 32px;
        --body-text-xl: 18px;
        --label-xl: 16px;
        --code-snippet-xl: 14px;

        /*  magic number  */
        --header-size: 56px;

        /*  typography medium  */
        --headline-md: 48px;
        --subheadline-md: 24px;
        --code-snippet-md: 10px;

        /*  typogrphy small  */
        --headline: 62px;
        --subheadline: 20px;

    }

    ::-webkit-scrollbar-track-piece {

    }


    ::-webkit-scrollbar {
        width: 30px;
    }

    ::-webkit-scrollbar-track {
        border-left: 1px solid var(--lines);
        @apply bg-primary-blue;

    }


    ::-webkit-scrollbar-thumb {
        border: 7px solid transparent; /* Adjust the border to control the thumb size */
        background-clip: padding-box; /* Ensure the background color is visible */
        background-color: var(--secondary-blue)
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--secondary-blue-hover)
    }


    .menu-button {
        @apply xl:hidden p-2 pr-4;
    }

    .link-wrapper {
        @apply inline xl:flex justify-end w-full xl:w-fit h-full;
    }

    .name-wrapper {
        @apply flex justify-between w-full h-full;
    }

    .main-content-wrapper {
        @apply h-full w-full
    }


    .home-content-wrapper {
        @apply h-full flex items-center justify-center xl:justify-evenly text-white;
    }

    .header-wrapper {
        @apply z-20 w-full border-b border-lines flex flex-col xl:flex-row justify-between items-center;
    }

    .main-layout-wrapper {
        @apply bg-primary-blue w-full h-full rounded-md flex flex-col border border-lines;
    }

    .heading-name {
        @apply py-4 text-secondary-blue w-full hover:bg-gray-800 flex items-center pl-5;
    }

    .heading-link {
        @apply border-l border-lines xl:w-[150px] flex justify-center items-center hover:bg-gray-800 border-b-2;
    }

    .heading-link-active {
        @apply text-accent-orange xl:border-b-accent-orange font-semibold xl:text-gray-300;
    }

    .heading-link-default {
        @apply text-gray-300 border-b-lines;
    }

    .footer-wrapper {
        @apply z-20 text-[14px] xl:text-[12px] text-secondary-blue flex flex-row justify-between items-center h-[56px] border-t border-lines;
    }

    .footer-text {
        @apply w-1/2 h-full xl:w-[121px] border-l border-lines flex items-center pl-4
    }

    .footer-link {
        @apply px-4 gap-2 h-full border-l border-lines flex items-center justify-center hover:bg-gray-800
    }

    .footer-links-wrapper {
        @apply h-full flex items-center
    }

    /*  home  */
    .home-wrapper {
        @apply flex flex-col gap-11 justify-around
    }

    .titles-wrapper {
        @apply flex flex-col justify-start items-start gap-4;
    }

    .descriptions-wrapper {
        @apply flex flex-col justify-start items-start gap-4;
    }

    .github-link-wrapper {
        @apply flex gap-2;
    }

}

:root {
    font-family: 'Fira Code', serif;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
}


